@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding: 0 16px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* START HEADER */
.header {
  width: 100%;
}

.he-top-fix {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 9999999;
  width: 100%;
}

.header-top {
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 141px;
  height: auto;
  cursor: pointer;
}

h2.title-logo {
  font-size: 25px;
}

.link-home {
  width: 78%;
}

.link-home a {
  text-decoration: none;
  color: #000;
}

ul.menu-cher {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
  height: 100%;
}

ul.menu-cher li.ic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
  height: 100%;
}

.mu-page:hover {
  color: red;
  transition: all 0.3s;
}

ul.menu-cher li.ic:hover .link-main,
ul.icon-link li.ic:hover .link-main,
.mega-menu-col a:hover {
  color: red;
  transition: all 0.3s;
}

/* CART COUNT */
.cart {
  position: relative;
}

#cart-count {
  position: absolute;
  top: -5px;
	right: -6px;
  background-color: #f00;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 18px;
  width: 18px;
	line-height: 19px;
	text-align: center;
}


/* MULI */
.prd-muli i {
  margin-left: 7px;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  width: 105%;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
}

li#mu-li {
  position: relative;
}

.dr-menu {
  position: absolute;
  top: 150%;
  left: 10%;
  padding: 10px 0 10px 10px;
  width: 120px;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
  z-index: 9;
  background-color: #ffffff;

}

.dr-page {
  padding: 0;
}

.prd-muli:hover .dropdown-menu,
.prd-muli:hover .dr-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.mega-menu-col {
  border-right: 1px solid #ddd;
  text-align: left;
  width: 25%;
}

.mega-menu-col:first-child {
  margin-left: 20px;
}

.mega-menu-col:last-child {
  border-right: 0px !important;
}

ul.menu-mega {
  display: flex;
  gap: 20px;
}

ul.menu-mega,
ul.menu-mega ul {
  padding: 0;
}

.dropdown-header {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  color: #000;
}

.image-dropdown {
  width: 100%;
  display: flex;
}

.header-image-drop-banner {
  margin: 20px 20px;
  position: relative;
}

.info5 {
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
  transform: translateY(-50%);
  flex-direction: column;
}

h6.bn {
  font-size: 17px;
}

h5.bn {
  font-size: 22px;
  font-weight: 600;
}

.info5 a {
  font-size: 17px;
}

/* MULI */

.icons {
  width: 7%;
  display: flex;
  align-items: center;
}

ul.icon-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

ul.icon-link li {
  list-style: none;
  font-size: 19px;
  display: block;
  align-items: center;
  cursor: pointer;
}


ul.icon-link li.bars {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.link-m:hover {
  color: red;
  transition: all .3s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
}

.accordion-button::after {
    display: none;
}

button.accordion-button.collapsed {
    text-transform: uppercase;
}

.main-dropdow a {
    text-decoration: none;
    color: #000;
}

button#btn-drop {
    text-transform: uppercase;
}

/* SLIDE BANNER IMAGE TOP*/
.slide-bn {
  margin-top: 80px;
  width: 100%;
}

a.btn-text {
  text-decoration: none;
}

.slider-banner-header .owl-nav {
  display: none;
}

#agb {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2.title-text {
  font-size: 70px;
  font-weight: 600;
}

.bo-re {
  border: 1px solid #ff324d;
  color: red;
}

.main-text {
  font-size: 16px;
  color: #687188;
  margin-bottom: 35px;
}

.btn-text {
  padding: 12px 35px;
  border-radius: 40px;
}

.btn-text:hover {
  background-color: rgb(223, 29, 29);
  color: #fff;
  transition: all .3s;
}

p.sale {
  font-size: 19px;
  font-weight: 300;
}

h2.muli {
  margin-bottom: 25px;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gutters {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#row {
  margin: 0;
}

#col {
  padding: 0;
}

.content-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #e2dcdc;
}

.content-main:first-child {
  border-right: 1px solid #ffffff;
}

#last-ch {
  border-right: 1px solid #e2dcdc;
}

.icon-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box i {
  font-size: 30px;
  color: red;
}

.icon-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-content p {
  margin-bottom: 0px;
  margin-left: 20px;
}

p.content-title {
  font-size: 16px;
}

p.ct {
  color: #687188;
  font-size: 14px;
}

/* LOADER */
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 99999999999999999999999999;
    background:rgb(25, 31, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

/* SEARCH */
.search-btn {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 4;
  opacity: 1;
  visibility: hidden;
  transition: all .4s;
  z-index: 9999999999999;
}

.se-input {
  outline: none;
  font-size: 15px;
  padding: 5px 10px;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  border: none;
}

.se-input::placeholder {
  font-size: 15px;
}

.sebtn {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.sebtnRemove {
  opacity: 0;
  visibility: hidden;
}

/* Add To cart */
#toast {
  position: fixed;
  top: 92px;
  right: 32px;
  z-index: 999999;
}


.tot {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 300px;
  max-width: 450px;
  border-left: 4px solid #47d864;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast__icon {
  color: #47d864;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* END HEADER */
/* PRODUCTS */
.products-title {
  position: relative;
}

.products-title .col-md-6 {
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 20px;
}

.text-center::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #ff324d;
  bottom: 22px;
  right: 0;
  margin: 0 auto;
}

.card-item {
  position: relative;
  text-align: center !important;
  padding: 0 0 17px 0;
  height: 450px;
  width: 100%;
  border: 1px solid #d4d1d1;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-img {
  position: relative;
  width: 100%;
  height: 75%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img img {
  height: 101%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.product-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
}

.product-action-box {
  position: relative;
  width: 60px;
  height: 60px;
  top: 8%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pr-dc {
  position: absolute;
  bottom: -100%;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.pr-dc:hover {
  background-color: rgb(255, 5, 5);
  border-radius: 50%;
  transition: all 0.3s;
}

.pr-dc:hover i {
  color: #fff;
}

.card-item:hover .pr-dc {
  opacity: 1;
  position: absolute;
  bottom: 0;
}

a.detail-product {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a.detail-product i {
  color: #000;
  font-size: 22px;
}

.card-item:hover .product-img::before {
  opacity: 1;
}

.card-item:hover .product-price,
.card-item:hover .rating-wrap {
  opacity: 0;
}

.product-info {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

h6.pro-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

span.price {
  font-size: 17px;
  font-weight: 700;
  color: red;
}

.product-price del {
  color: #687188;
  font-size: 14px;
}

.rating-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 10px;
}

.rating i {
  color: #f6bc3e;
}

span.rating-num {
  color: #687188;
}

.add-to-cart {
  position: absolute;
  bottom: -50px;
  width: 70%;
  border-radius: 40px;
  padding: 12px 0;
  background-color: red;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.add-to-cart:hover {
  border: 1px solid red;
  background-color: #fff;
}

.add-to-cart:hover i,
.add-to-cart:hover span {
  color: red;
}

a.btn-radius {
  width: 100%;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a.btn-radius i {
  font-size: 12px;
}

.card-item:hover .add-to-cart {
  opacity: 1;
  visibility: visible;
  bottom: 18px;
}

/* START SECTION BANNER */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  height: 350px;
  margin-top: 40px;
}

.single-banner-01 {
  overflow: hidden;
  position: relative;
  width: 40%;
  padding-bottom: 10px;
  background-color: #e3fef9;
  margin-right: 30px;
  transition: all 0.3s;
}

.single-banner-01:hover img,
.single-banner-02:hover img {
  scale: 1.1;
  transition: all 0.3s;
}

.single-banner-01 img,
.single-banner-02 img {
  width: 100%;
  height: 100%;
}

.info1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

h5.single-bn-title1 {
  font-size: 21px;
  font-weight: 600;
}

h3.single-bn-title {
  font-size: 35px;
  font-weight: bold;
}

a.single-bn-link {
  text-decoration: none;
  color: #292b2c;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  transition: all 0.3s;
}

a.single-bn-link::before {
  position: absolute;
  content: "";
  height: 6px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 50, 77, 0.2);
}

a.single-bn-link:hover {
  color: red;
}

.single-banner-02 {
  overflow: hidden;
  position: relative;
  width: 60%;
  background-color: #fefbea;
}

.info2 {
  position: absolute;
  top: 40%;
  left: 30px;
}

.trending-items {
  position: relative;
}

.trending-items .owl-nav {
  position: absolute;
  top: -65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trending-items .owl-dots {
  display: none;
}

.fa-arrow-right-long,
.fa-arrow-left-long {
  font-size: 20px;
}

.trending-items.owl-theme .owl-nav [class*=owl-] {
  margin: 0;
}

button.owl-next:hover {
  background-color: #fff;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #ffffff;
    color: #000000;
}

.slide-banner-image .owl-nav {
    display: none;
}


/* FOOTER */
ul li {
  list-style: none;
}

.footer {
  width: 100%;
}

.footer-top {
  background-color: #202325;
  padding: 100px 0 70px;
}
.widget-main {
  display: flex;
  flex-direction: column;
}

.widget {
  color: #fff;
  float: left;
}

.widget-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 25px;
}

ul.widget-info {
  padding: 0;
}
ul.widget-info li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

ul.widget-info li i {
  margin-right: 10px;
  margin-top: 4px;
  font-size: 18px;
}
ul.widget-info li p {
  margin: 2px 0 0 3px;
  font-size: 14px;
}

ul.social-icons {
  padding: 0;
}

ul.social-icons li {
  display: inline-block;
  padding: 0px 5px 5px 0;
}

ul.social-icons li a {
  border-radius: 50%;
  font-size: 18px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.social-facebook {
  background-color: #fff;
}

.social-twitter {
  color: #fff;
  background-color: #00acee;
}

.social-google {
  color: #fff;
  background-color: #dd4b39;
}

.social-youtube {
  color: #fff;
  background-color: #c4302b;
}

.social-camera {
  color: #fff;
  background-color: #3f729b;
}

form.form-control {
  position: relative;
  width: 100%;
  border-radius: 30px;
}

.form-input {
  height: 40px;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.btn-sent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: #fff;
  background-color: #ff324d;
}

.btn-sent i {
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0 5px 0;
  background-color: #202325;
}

p.tc {
  font-size: 14px;
  color: #fff;
  display: flex;
  margin-top: 7px;
}

ul.payment {
  padding: 0;
  display: flex;
  justify-content: end;
}

ul.payment li {
  margin-left: 4px;
}

/* SLIDE BANNER IMAGE */
.slide-banner-image {
  display: flex;
  margin: 40px 0;
}

.slide-banner-image .item {
  overflow: hidden;
}

.slide-banner-image img:hover {
  scale: 1.1;
  transition: all .3s ease-in-out;
}

.cooperate-main {
  margin: 40px 0 60px 0;
}

.slide-banner-image .owl-dots,
.cooperate-main .owl-dots {
  display: none;
}

.cooperate-main .owl-nav {
  display: none;
}

.cooperate-main .item {
  margin: 0 10px;
}


/* Form Login */
.form-login {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s;
   z-index: 999999999;
}

.form-login::before {
   content: '';
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0.9;
   position: absolute;
   display: inline-block;
}

.close-login i {
   position: absolute;
   top: 0;
   right: 4px;
   font-size: 20px;
   cursor: pointer;
}

.login-main {
   display: flex;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 500px;
   width: 800px;
   background-color: #fafafa;
   z-index: 999999999;
   border-radius: 5px;
}

.login-main-left {
   width: 43%;
   padding: 3px;
}

.login-main-img {
  background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position-x: -60px;
}

.login-main-right {
   padding: 20px;
   height: 100%;
   width: 57%;
}

.logomain {
   text-align: center;
   width: 100%;
   font-size: 45px;
   padding: 0 0 4px 0;
   margin-bottom: 15px;
}

.logomain i {
   color: #ff6219;
}

.logomain span {
   font-weight: bold;
}

.normal {
   width: 100%;
}

.normal h5 {
   font-weight: 600;
   font-size: 17px;
}
.input-email,
.input-password {
   position: relative;
}

.input-email input,
.input-password input {
   width: 100%;
   height: 45px;
   border-radius: 5px;
   padding-left: 60px;
   border: none;
   outline: none;
   margin: 5px 0 20px 0;
   border: 1px solid rgb(224, 223, 223);
}

.input-email::after,
.input-password::after {
   content: '';
   display: block;
   width: 22px;
   height: 22px;
   background: url(/assets/images/ImagesFigma/login.png) no-repeat -2px -2px;
   position: absolute;
   top: 16px;
   left: 10px;
}

.input-password::after {
   background: url(/assets/images/ImagesFigma/login.png) no-repeat -2px -33px;
}

.input-email::before,
.input-password::before {
   content: '';
   display: block;
   width: 1px;
   height: 30px;
   background: #d4d4d4;
   position: absolute;
   left: 45px;
   top: 13px;
}

.login-main ::placeholder {
   color: #c1bebe;
}

.btn-login {
  display: flex;
  justify-content: center;
}

.btn-login input {
   width: 50%;
   height: 45px;
   border-radius: 5px;
   background-color: #302b2b;
   color: #fff;
   font-weight: 900;
   font-size: 19px;
   margin-bottom: 20px;
   border: none;
   transition: all .2s;
}

.btn-login input:hover {
   border: 1px solid #000;
   background-color: #fff;
   color: #000;
}

.forgot-password a {
   text-decoration: none;
}

.forgot-password a:hover {
   text-decoration: underline;
   text-underline-position: under;
}

.forgot-password a:first-child {
   font-size: 13px;
   color: #848484;
}

.forgot-password a:last-child,
.forgot-password p {
   font-size: 14px;
   color: blue;
   cursor: pointer;
}

.input-password {
  position: relative;
}

.icons-pass {
  position: absolute;
  top: 3px;
  right: 10px;
  transform: translate(0%, 50%);
  cursor: pointer;
}

#show-pass {
  margin-top: 6px;
  display: none;
}

#hidden-pass {
  margin-top: 6px;
}

/* End Form login */
.container-fluid {
  width: 100%;
  position: relative;
}

.container-fluid .col-12 {
  padding: 0;
}

.fllow-box {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 85px;
  background-color: #fff;
  max-width: 400px;
  background-image: url(/assets/images/ImagesFigma/logoico.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  border-radius: 80px;
  text-align: center;
}

.fllow-box h3 {
  font-size: 35px;
  font-weight: 600;
}

.fllow-box span {
  font-weight: 400;
  font-size: 18px;
  color: #757993;
}

@media screen and (width: 992px) {
  .gutters .col-12:nth-child(3) {
    border-top: 1px solid #e2dcdc;
    border-right: 0;
  }
}

@media (min-width: 850px) and (max-width: 992px) {
  .login-main {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 700px;
  }

  .login-main-img {
    background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position-x: -35px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .login-main {
      display: flex;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 400px;
      width: 600px;
    }

  .logomain {
      text-align: center;
      width: 100%;
      font-size: 35px;
      margin-bottom: 15px;
  }

  .input-email ::placeholder,
  .input-password ::placeholder {
    font-size: 14px;
  }

  .forgot-password a:first-child {
    font-size: 14px;
  }

  .normal h5 {
      font-weight: 600;
      font-size: 16px;
  }

  .input-email::after, 
  .input-password::after {
      width: 19px;
      height: 19px;
  }

  .icons-pass i {
      font-size: 15px;
  }

  .login-main-img {
    background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93%;
    background-position: -38px;
    background-position-y: 20px;
  }
}


@media (min-width: 630px) and (max-width: 768px) {
  .login-main {
      display: flex;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 330px;
      width: 530px;
    }

    .input-email input, .input-password input {
      margin-bottom: 7px;
    }

    .normal {
      width: 100%;
    }

    .logomain {
        text-align: center;
        width: 100%;
        font-size: 25px;
        margin-bottom: 7px;
    }

    .input-email ::placeholder,
    .input-password ::placeholder {
      font-size: 14px;
    }

    .forgot-password a:first-child {
      font-size: 14px;
    }

    .normal h5 {
        font-weight: 600;
        font-size: 15px;
    }

    .input-email::after, 
    .input-password::after {
        width: 17px;
        height: 19px;
        background-position-x: -4px;
    }

    .icons-pass i {
        font-size: 13px;
    }

    .login-main-img {
      background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 93%;
      background-position: -25px;
      background-position-y: 20px;
    }

    #show-pass {
      margin-top: 7px;
      display: none;
    }

    #hidden-pass {
      margin-top: 7px;
    }

    .btn-login input {
      margin: 10px;
      font-size: 17px;
    }
}


@media (min-width: 500px) and (max-width: 630px) {
  .btn-login input {
      margin: 10px;
      font-size: 16px;
      height: 38px;
    } 

    .input-email input,
    .input-password input {
      margin-bottom: 7px;
    }

  .login-main {
      display: flex;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 330px;
      width: 530px;
    }

    .normal {
      width: 100%;
    }

    .logomain {
        text-align: center;
        width: 100%;
        font-size: 26px;
        margin-bottom: 7px;
    }

  .input-email ::placeholder,
  .input-password ::placeholder {
    font-size: 14px;
  }

  .forgot-password a:first-child {
    font-size: 13px;
  }

  .forgot-password a:last-child, 
  .forgot-password p {
    font-size: 13px;
  }

  .normal h5 {
      font-weight: 600;
      font-size: 15px;
  }

  .input-email::after, 
  .input-password::after {
      width: 17px;
      height: 19px;
      background-position-x: -4px;
  }

  .icons-pass i {
      font-size: 13px;
  }

  .login-main-img {
    background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93%;
    background-position: -23px;
    background-position-y: 20px;
  }

    #show-pass {
    margin-top: 7px;
    display: none;
  }

  #hidden-pass {
    margin-top: 7px;
  }
}

@media (min-width: 350px) and (max-width: 500px) {
  .logomain {
    margin: 0;
  }

  .btn-login input {
      margin: 4px 0;
      font-size: 15px;
      height: 34px;
    } 

  .input-email input,
  .input-password input {
    margin-bottom: 7px;
    height: 39px;
    padding-left: 40px;
    font-size: 17px;
  }

  .input-email::before, 
  .input-password::before {
    left: 34px;
    top: 10px;
  }

  .login-main {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 280px;
    width: 351px;
  }

  .normal {
    width: 100%;
  }

  .logomain {
      text-align: center;
      width: 100%;
      font-size: 24px;
  }

  .input-email ::placeholder,
  .input-password ::placeholder {
    font-size: 13px;
  }

  .forgot-password a:first-child {
    font-size: 13px;
  }

  .forgot-password a:last-child, 
  .forgot-password p {
    font-size: 13px;
  }

  .normal h5 {
      margin: 0;
      font-weight: 600;
      font-size: 13px;
  }

  .input-email::after, 
  .input-password::after {
      width: 17px;
      height: 19px;
      background-position-x: -4px;
  }

  .icons-pass i {
      font-size: 12px;
  }

  .login-main-img {
    background-image: url(/assets/images/ImagesFigma/furniture8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    background-position: -27px;
    background-position-y: 13px;
    margin-top: 13px;
  }

    #show-pass {
      margin-top: 7px;
      display: none;
  }

    #hidden-pass {
      margin-top: 7px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #scroll-hea {
    padding-right: 0;
    width: 100%;
    height: 250px;
    overflow-y: auto;
  }

  .container {
    --bs-gutter-x: 0;
    
  }

  ul.menu {
    display: none;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    display: none;
  }

  .icons {
    width: 13%;
  }

  ul.icon-link li.bars {
    display: block;
  }

  .dropdow-menu {
    width: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .accordion-button {
    font-size: 19px;
    font-weight: 500;
  }

  #btn-drop::after {
    display: block;
  } 

  button {
    text-transform: uppercase;
    font-size: 35px;
  }

  .main-dropdow {
    font-size: 16px;
    font-weight: 400;
  }

   .main-dropdow a {
    text-decoration: none;
    color: #000;
   }

   .tck {
    margin-bottom: 0;
   }

  .dr-header {
    z-index: 9;
    overflow-y: auto;
  }

  .dropdow-menu {
    display: none;
  }

  .dr-header h5 {
    font-size: 19px;
    font-weight: 600;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }

  .single-banner-01,
  .single-banner-02 {
    height: 300px;
  }

  h5.single-bn-title1 {
    font-size: 17px;
    font-weight: 600;
  }

  h3.single-bn-title {
    font-size: 25px;
    font-weight: bold;
  }

  a.single-bn-link {
    color: #292b2c;
    font-size: 15px;
  }

  .content-main {
    border: none;
  }

  .gutters .col-12 {
    border: 1px solid #e2dcdc;
  }

  .gutters .col-12:first-child {
    border-right: 0;
    border-bottom: 1px solid #e2dcdc;
  }
  .gutters .col-12:last-child {
    border-top: 0;
  }

  .gutters .col-12:nth-child(3) {
    border-top: 0;
    border-right: 0;
  }

  .gutters .col-12:nth-child(2) {
    border-right: 1px solid #e2dcdc;
  }

  #last-ch {
    border: none;
  }
}

@media screen and (max-width: 768px) {

  .fllow-box {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 75px;
    background-color: #fff;
    max-width: 400px;
    background-image: url(/assets/images/ImagesFigma/logoico.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    border-radius: 80px;
    text-align: center; 
  }

  .container {
    max-width: 700px;
  }

  .header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  ul.menu {
    display: none;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    width: 62%;
    display: none;
  }

  .icons {
    width: 17%;
  }

  ul.icon-link li.bars {
    display: block;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }

  .banner {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .single-banner-01 {
    width: 100%;
    padding-left: 133px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .single-banner-02 {
    width: 100%;
    padding: 10px;
  }

  .single-banner-01 img,
  .single-banner-02 img {
    width: 100%;
  }

  .dropdow-menu {
    width: 100%;
    display: none;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .tck {
    margin-bottom: 0;
   }

  #btn-drop::after {
    display: block;
  }

  .main-dropdow{
    font-size: 16px;
  }

  .dr-header h5 {
    font-size: 17px;
  }
  
  #scroll-hea {
    padding-right: 0;
    width: 100%;
    height: 150px;
    overflow-y: auto;
  }

  .footer-bottom .col-md-6 {
    display: flex;
    justify-content: center;
  }

  .content-main {
    border: none;
  }

  .gutters .col-12 {
    border: 1px solid #e2dcdc;
  }

  .gutters .col-12:first-child {
    border-right: 0;
    border-bottom: 1px solid #e2dcdc;
  }
  .gutters .col-12:last-child {
    border-top: 0;
  }

  .gutters .col-12:nth-child(3) {
    border-top: 0;
    border-right: 0;
  }

  .gutters .col-12:nth-child(2) {
    border-right: 1px solid #e2dcdc;
  }

  #last-ch {
    border: none;
  }

}

@media screen and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .link-home {
    width: 66%;
    display: none;
  }

  .products-list .col-6 {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .logo {
    width: 22%;
  }

  .icons {
    width: 17%;
  }
}

@media screen and (max-width: 500px) {
  .fllow-box {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 55px;
    background-color: #fff;
    max-width: 400px;
    background-image: url(/assets/images/ImagesFigma/logoico.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    border-radius: 80px;
    text-align: center;
  }

  .fllow-box h3 {
    font-size: 31px;
  }

  .fllow-box span {
    font-size: 17px;
  }


  .logo {
    width: 22%;
  }

  .link-home {
    width: 51%;
    display: none;
  }

  .icons {
    width: 27%;
  }

  .products-list .col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gutters .col-12 {
    width: 100%;
    border: 1px solid rgb(226, 220, 220);
  }

  .content-main {
    border: none;
  }

  #last-ch {
    border-right: none;
}

  .gutters .col-12:first-child {
    width: 100%;
    border-bottom: none;
    border-right: 1px solid #e2dcdc;
  }

  .gutters .col-12:nth-child(3) {
    width: 100%;
    border-top: none;
    border-right: 1px solid #e2dcdc;
  }

  h5.single-bn-title1 {
    font-size: 17px;
    font-weight: 600;
  }

  h3.single-bn-title {
    font-size: 25px;
    font-weight: bold;
  }

  a.single-bn-link {
    color: #292b2c;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}


/* Rep Icon */
@media (min-width: 768px) and (max-width: 840px) {
  .icons {
      width: 16%;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .icons {
      width: 20%;
  }
}

@media (min-width: 250px) and (max-width: 380px) {
  .icons {
      width: 35%;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .cover01 {
    background-image: url(/assets/images/ImagesFigma/banner-desktop-sx-01.png);
  }

  .cover02 {
    background-image: url(/assets/images/ImagesFigma/banner-desktop-sx-02.png);
  }

  .cover03 {
    background-image: url(/assets/images/ImagesFigma/banner-desktop-sx-03.png);
  }
}

@media (min-width: 900px) {
  .cover01 {
    background-image: url(/assets/images/ImagesFigma/banner8.jpg);
  }

  .cover02 {
    background-image: url(/assets/images/ImagesFigma/banner7.jpg);
  }

  .cover03 {
    background-image: url(/assets/images/ImagesFigma/banner9.jpg);
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .cover01 {
    background-image: url(/assets/images/ImagesFigma/banner-tablet-01.png);
  }

  .cover02 {
    background-image: url(/assets/images/ImagesFigma/banner-tablet-02.png);
  }

  .cover03 {
    background-image: url(/assets/images/ImagesFigma/banner-tablet-03.png);
  }

  h2.title-text {
    font-size: 60px;
    font-weight: 600;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .cover01 {
    background-image: url(/assets/images/ImagesFigma/banner-mobile-01.png);
  }

  .cover02 {
    background-image: url(/assets/images/ImagesFigma/banner-mobile-02.png);
  }

  .cover03 {
    background-image: url(/assets/images/ImagesFigma/banner-mobile-03.png);
  }

  h2.title-text {
    font-size: 50px;
    font-weight: 600;
  }
}

