@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: block;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

nav.header-top {
  display: flex;
  height: 80px;
  width: 100%;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 141px;
  height: auto;
  cursor: pointer;
}

h2.title-logo {
  font-size: 25px;
}

.link-home {
  width: 78%;
  height: 100%;
}

ul.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
}

ul.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
}

ul.menu li:hover,
ul.icon-link li:hover {
  color: red;
  transition: all 0.3s;
}

.icons {
  width: 7%;
  height: 100%;
  position: relative;
}

ul.icon-link {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

ul.icon-link li {
  list-style: none;
  font-size: 19px;
  display: block;
  align-items: center;
  cursor: pointer;
}

ul.icon-link li.bars {
  display: none;
}

.slide-banner {
  width: 100%;
  height: auto;
}

.slide-banner img {
  width: 100%;
  height: auto;
}

.gutters {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#row {
  margin: 0;
}

#col {
  padding: 0;
}

.content-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border: 1px solid #e2dcdc;
}

.icon-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box i {
  font-size: 30px;
  color: red;
}

.icon-content {
  height: 100%;
  width: 54%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-content p {
  margin-bottom: 0px;
}

p.content-title {
  font-size: 16px;
}

p.ct {
  color: #687188;
  font-size: 14px;
}

/* #row {
  margin: 0;
}

#col {
  padding: 0;
  width: 25%;
} */


.open-search {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  transition: all .5s;
  transform: translateX(-100%);
  overflow-x: hidden;
}

.op-se-ma {
  position: relative;
  width: 50%;
}

.op-se-ma a{
  position: absolute;
  right: 0;
  color: #fff;
}


.search-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
  margin-top: 120px;
  border-bottom: 2px solid #fff;
}

.search-main input,
.search-main input::placeholder,
.search-main button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.search-main input::placeholder {
  color: #fff;
}

/* .search-main button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

button.search-icons i {
  color: #fff;
  cursor: pointer;  
}

.search-main span {
  font-weight: 500;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    --bs-gutter-x: 0;
  }

  ul.menu {
    display: none;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    width: 66%;
  }

  .icons {
    width: 12%;
  }

  ul.icon-link li.account {
    display: none;
  }

  ul.icon-link li.bars {
    display: block;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }
}
/*Ipad dọc(768 x 1024)*/
/* @media screen and (max-width: 991px){
    body {
      background-color: red;
    }
} */
/*Tablet nhỏ(480 x 640)*/
/* @media screen and (max-width: 480px){
    
} */
/*Iphone(480 x 640)*/
/* @media screen and (max-width: 320px){
    
} */
/*Smart phone nhỏ*/
/* @media screen and (max-width: 240px){
    
} */
